.test {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sqaure {
  width: 200px;
  height: 200px;
}

.left {
  background: blue;
}

.right {
  background: red;
}
